<div class="wellcomePage">
    <div class="mainText">
        <div class="mainTextBold">
            <p>Hello!</p>
            <p>My name is Luis Fernando.</p>
        </div>
        <p>I'm a software developer, a student at University Fatec RP.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores enim, totam omnis aperiam cupiditate quaerat pariatur id hic! Illum, numquam perferendis atque nihil alias aliquam maxime ratione nobis fugit molestiae!
        Voluptas in ea quibusdam repellat odit maxime at esse voluptatem voluptates laborum eveniet soluta cum molestiae consequatur tempora odio perspiciatis ratione, assumenda incidunt hic sunt dignissimos ipsam! Consequuntur, eveniet suscipit!</p>
    </div>
  <div class="mainImage">
    <img class="image-with-shadow" src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80" width="500" height="500" alt="">
  </div>
</div>
<div class="center">
    <a href="#projects">
        <div class="arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
            </svg>
      </div>
    </a>
</div>