
.wellcomePage {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    /* height: 85vh; */
    /* font-weight: bold; */
}
.mainText { 
    padding: 0 100px 0 0px;
}

.mainTextBold p{
    font-weight: bold;
    font-size: 40;
    margin: 0;

}


.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
    animation: arrowAnimation 3s infinite;
  }
  
  
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add any additional styling for the parent container */
  }
.mainImage-img{
  width: 30vw;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.apresentation p{
  color: #adadad;
  margin: 0;
  padding: 3px 0;
  font-weight: normal;

}

  @media only screen and (max-width: 600px) {

    .wellcomePage {
      flex-direction: column;
    }
    .mainImage-img{
      max-width: 85%;
      height: auto;
    }
  }


