<div class="showcase">
    <div class="showcase-title">
        <h2>Showcases</h2>
        <h3>This is the stuff that i make >D</h3>        
    </div>
    <div class="showcase-itens">
        <!--  -->
        <div class="showcase-item">
            <div class="showcase-item-img">
                <img class="rounded-image" src="https://storage.googleapis.com/algodailyrandomassets/curriculum/fundamentals/programming.jpg" width="300" alt="">
            </div>
            <div class="showcase-item-text">
                <p>Men on the computer</p>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dolorum pariatur id sapiente? </h3>
            </div>
        </div>
        <!--  -->
        <div class="showcase-item">
            <div class="showcase-item-img">
                <img class="rounded-image" src="https://images.ctfassets.net/lzny33ho1g45/learn-html-css-p-img/12978ef50623cf76538cfe18e1011fc5/file.png?w=1520&fm=jpg&q=30&fit=thumb&h=760" width="300" alt="">
            </div>
            <div class="showcase-item-text">
                <p>Code that only god knows</p>
                <h3>description of the stuff 1</h3>
            </div>
        </div>
        <!--  -->
        <div class="showcase-item">
            <div class="showcase-item-img">
                <img class="rounded-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9wGAqSnDUF4pIMHmtHq6dJYjAFrzVgvhzXcvIrtnE3d0XUOQZDFxc5eT6rrr0QiZBbJU&usqp=CAU" width="300" alt="">
            </div>
            <div class="showcase-item-text">
                <p>This looks coll >3</p>
                <h3>I dont to use lorem n more help</h3>
            </div>
        </div>
        <!--  -->
        <div class="showcase-item">
            <div class="showcase-item-img">
                <img class="rounded-image" src="https://user-images.githubusercontent.com/97737113/227818875-cb66e93c-3b7b-42b4-8d97-cfc16fda1379.png" width="300" alt="">
            </div>
            <div class="showcase-item-text">
                <p>Task List App</p>
                <h3>This is a simple task list application built with Angular</h3>
            </div>
        </div>
    </div>
</div>