<div class="showcase">
    <div class="showcase-title">
        <h2>Showcases</h2>
        <h3>This is the stuff that i make >D</h3>        
    </div>
    <div class="showcase-itens">
        <!--  -->
        <div class="showcase-item">
            <div class="showcase-item-img">
                <img class="rounded-image" src="https://user-images.githubusercontent.com/97737113/243346436-4fb49ac3-1eaa-4514-98e8-587c363a80fd.png" width="300" alt="">
            </div>
            <div class="showcase-item-text">
                <p>ChatApp in flutter</p>
                <h3>It's a app that i just made for fun a while ago, so it's unfinished... and problaply never will.</h3>
            </div>
        </div>
        <!--  -->
        <div class="showcase-item">
            <div class="showcase-item-img">
                <img class="rounded-image" src="https://user-images.githubusercontent.com/97737113/243350102-23b41128-928c-47f8-8bec-1855e77e6068.png" width="300" alt="">
            </div>
            <div class="showcase-item-text">
                <p>Ngrok bot</p>
                <h3>A step by step tutorial how to set up a discord bot to send your ngrok url's</h3>
            </div>
        </div>
        <!--  -->
        <div class="showcase-item">
            <div class="showcase-item-img">
                <img class="rounded-image" src="https://user-images.githubusercontent.com/97737113/243359164-7dddb7e9-2c56-48e9-8897-0a56ea76c541.png" width="300" alt="">
            </div>
            <div class="showcase-item-text">
                <p>This portfiolio</p>
                <h3>It's just the portfiolio that you are in.</h3>
            </div>
        </div>
        <!--  -->
        <div class="showcase-item">
            <div class="showcase-item-img">
                <img class="rounded-image" src="https://user-images.githubusercontent.com/97737113/227818875-cb66e93c-3b7b-42b4-8d97-cfc16fda1379.png" width="300" alt="">
            </div>
            <div class="showcase-item-text">
                <p>Task List App</p>
                <h3>A task list application built with Angular for the front and nodeJs as the API.</h3>
            </div>
        </div>
    </div>
</div>